@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  * {
    @apply font-roboto text-gray-500 dark:text-slate-500 bg-transparent dark:bg-transparent select-none duration-500;
  }

  input,
  input[type] {
    @apply focus:outline-none focus:ring-0 w-full transition-colors duration-700;
    @apply focus:placeholder-transparent placeholder:font-light placeholder:italic;
    @apply dark:text-slate-500 dark:bg-slate-800;
  }

  button:focus,
  button:active {
    @apply outline-none;
  }
  button {
    @apply disabled:text-gray-500 dark:disabled:text-slate-500 disabled:bg-gray-100 dark:disabled:bg-slate-100;
  }

  a {
    @apply text-blue-600 dark:text-blue-800 cursor-pointer hover:text-blue-700 dark:hover:text-blue-600 border-none outline-none transition-colors;
  }

  h1,
  button,
  label {
    @apply font-semibold ring-0 outline-none border-none;
  }

  p,
  h1 {
    @apply text-sm md:text-base;
  }

  p,
  input {
    @apply font-light;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  /* navbar and main div */
  .navbar {
    @apply backdrop-blur-md dark:backdrop-blur-lg bg-white/10 dark:bg-black/5;
  }
  .page {
    @apply dark:bg-gradient-to-tr dark:from-slate-800 dark:via-gray-900 dark:to-slate-800;
    @apply bg-gradient-to-tr from-white via-slate-300 to-white;
  }
  .form-container{
    @apply mt-20 md:mt-40 h-fit md:h-fit w-full md:w-[340px] bg-transparent md:bg-white md:rounded-md md:ring-1 md:ring-black md:ring-opacity-5 md:dark:ring-2 md:dark:ring-black md:dark:ring-opacity-10 md:dark:bg-slate-900 md:dark:drop-shadow px-3 md:px-6 py-0 md:py-10 drop-shadow-none md:drop-shadow-md;
  }
  .tab-container{
    @apply grid grid-cols-2 w-44 p-[3px] rounded-full bg-slate-200 dark:bg-slate-400 shadow-inner dark:shadow-inner shadow-slate-400 dark:shadow-slate-700 text-sm md:text-base;
  }
  .tab-on{
    @apply transition-colors bg-blue-700 dark:bg-blue-800 px-3 rounded-full text-slate-200;
  }
  .tab-off{
    @apply transition-colors text-slate-500 dark:text-slate-700 hover:bg-slate-300 dark:hover:bg-slate-600 rounded-full duration-500 dark:hover:bg-opacity-40;
  }

  /* alert dan toggle */
  .alert-modal {
    @apply drop-shadow-md rounded-md;
  }
  .toggle {
    @apply relative inline-flex items-center h-[10px] w-[25px] shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out;
    @apply focus:outline-none focus-visible:ring-2  focus-visible:ring-white focus-visible:ring-opacity-75;
  }

  /* button */
  .btn {
    @apply hover:opacity-90 active:opacity-100 cursor-pointer;
  }
  .btn,
  .btn-opacity {
    @apply disabled:cursor-not-allowed disabled:active:bg-gray-200 dark:disabled:active:bg-slate-300;
  }
  .btn,
  .btn-opacity {
    @apply transition-colors duration-300;
  }
  /* icon */
  .icon {
    @apply h-5 w-5;
  }
  /* input */
  .input {
    @apply bg-slate-100 md:bg-white dark:bg-slate-800;
  }
  /* loader */
  .loader-loading {
    @apply absolute z-20 inset-0 cursor-not-allowed flex-center-xy bg-gray-500 dark:bg-slate-900 bg-opacity-30 dark:bg-opacity-30;
  }

  /* container-dinamis */
  .dinamic-container {
    @apply mx-5 sm:mx-14 md:mx-28 lg:mx-56 xl:mx-72;
  }
  .dinamic-container-y {
    @apply mx-5 sm:mx-14 md:mx-28 lg:mx-56 xl:mx-72;
  }
  .dinamic-pading {
    @apply py-2 md:py-2.5 lg:py-3;
  }
}

@layer utilities {
  /* toggle */
  .toggle-on {
    @apply pointer-events-none inline-block h-[18px] w-[18px] transform rounded-full border-2 shadow-lg ring-0 transition duration-200 ease-in-out translate-x-3;
  }
  .toggle-off {
    @apply pointer-events-none inline-block h-[18px] w-[18px] transform rounded-full border-2 shadow-lg ring-0 transition duration-200 ease-in-out -translate-x-2;
  }

  /* button */
  .btn-primary {
    @apply bg-blue-600 dark:bg-blue-800 text-gray-100 dark:text-slate-100;
  }
  .btn-secondary {
    @apply border-gray-300 dark:border-slate-600 text-gray-500 dark:text-slate-400 border-[1.8px];
    @apply hover:bg-gray-100 dark:hover:bg-slate-800;
  }
  .btn-danger {
    @apply bg-pink-600 dark:bg-pink-800 text-gray-100 dark:text-slate-100;
  }
  .btn-success {
    @apply bg-green-600 dark:bg-green-800 text-gray-100 dark:text-slate-100;
  }
  .opacity-primary {
    @apply bg-blue-200 hover:bg-blue-300 text-blue-600 hover:text-blue-700;
  }
  .opacity-secondary {
    @apply bg-gray-100 hover:bg-gray-200 text-gray-500 dark:bg-transparent dark:hover:bg-slate-800 dark:text-slate-500;
  }
  .opacity-success {
    @apply bg-green-200 hover:bg-green-300 text-green-600 hover:text-green-700;
  }
  .opacity-danger {
    @apply bg-pink-200 hover:bg-pink-300 text-pink-600 hover:text-pink-700;
  }
  .btn-input-show {
    @apply bg-transparent dark:bg-transparent;
  }

  /* icon */
  .icon-fill {
    @apply fill-gray-500 dark:fill-slate-500;
  }
  .icon-stroke {
    @apply stroke-gray-500 dark:stroke-slate-500;
  }

  /* position*/
  .flex-center-xy {
    @apply flex justify-center items-center;
  }
  .flex-center-x {
    @apply flex justify-center;
  }
  .flex-center-y {
    @apply flex items-center;
  }
  .grid-center-xy {
    @apply grid place-content-center;
  }

  /* input */
  .input-password {
    @apply bg-transparent dark:bg-transparent border-none;
  }
  .input-border {
    @apply border-2 focus:border-blue-300 dark:focus:border-blue-700 border-gray-300 dark:border-slate-700;
    @apply invalid:border-pink-300 dark:invalid:border-pink-700;
  }
  .input-noborder {
    @apply border-none invalid:bg-pink-200 invalid:text-pink-700 dark:invalid:bg-pink-500 dark:invalid:text-pink-200;
  }

  /* dinamis */
  .w-dinamis {
    @apply w-96 sm:w-[450px] md:w-[600px] lg:w-[800px] 2xl:w-[1100px];
  }

  /* disable-outline */
  .disable-outline {
    @apply active:outline-none;
  }
  
}
